[fichaId] {
    display: none;
}

[modalId] {
    display: none;
    .ficha-modal-conteudo {
        display: none;
    }
}


[abaAberta="perfil"] {
    [fichaId="perfil"] {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .ficha-sidebar-menu {
        a {
            &[abrirAba="perfil"] {
                opacity: 1;
                &:before {
                    opacity: 1;
                    width: 100%;
                    
                }
                
            }
        }
    }
}

[abaAberta="caracteristicas"] {
    [fichaId="caracteristicas"] {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .ficha-sidebar-menu {
        a {
            &[abrirAba="caracteristicas"] {
                opacity: 1;
                &:before {
                    opacity: 1;
                    width: 100%;
                    
                }
                
            }
        }
    }
}



[modalAberto="forca"] {
    [modalId="forca"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}

[modalAberto="reflexos"] {
    [modalId="reflexos"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}

[modalAberto="inteligencia"] {
    [modalId="inteligencia"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}


[modalAberto="empatia"] {
    [modalId="empatia"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}


[modalAberto="pvmax"] {
    [modalId="pvmax"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}

[modalAberto="fadigamax"] {
    [modalId="fadigamax"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}


[modalAberto="rollforca"] {
    [modalId="rollforca"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}


[modalAberto="rollreflexos"] {
    [modalId="rollreflexos"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}

[modalAberto="rollinteligencia"] {
    [modalId="rollinteligencia"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}


[modalAberto="rollempatia"] {
    [modalId="rollempatia"] {
        display: block;
        .ficha-modal-conteudo {
            display: block;
        }
    }
}
