.editor-content {
    min-height: 100px;
}


.window-app .window-content {
	padding: 1px;
	background: #22212d;
	border-radius: 10px;

	background: rgb(251,227,68);
	background: -moz-linear-gradient(135deg, rgba(251,227,68,1) 0%, rgba(238,99,162,1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(251,227,68,1) 0%, rgba(238,99,162,1) 100%);
	background: linear-gradient(135deg, rgba(251,227,68,1) 0%, rgba(238,99,162,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbe344",endColorstr="#ee63a2",GradientType=1);

	form {
		background: #22212d;
		border-radius: 10px;
		padding: 15px;
		color: #fff;
	}

	.tabs .item {
		overflow: hidden;
    white-space: nowrap;
	}

	select, input, textarea, button {
        color: #fff;
    }

    button {
    	background: #ee63a2;
    }

    option,optgroup {
    	color: #333;
    }

    p, form .notes, form .hint {
    	color: #999;
    }
}