<div class="ficha ficha-item" itempericiaId="{{item._id}}">
    <form class="{{cssClass}}" autocomplete="off">
        <header class="sheet-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </header>
        <div>
            <!-- "idN": "",
            "atributo" : "forca",
            "descricao" : "Descrição",
            "graduacao" : 0,
            "bonus" : 0,
            "qualidades" : [],
            "defeitos" : [] -->
            <br>
            <input type="hidden" name="data.idN" value="{{data.idN}}" style="border: 1px solid #111;">

            <div class="ficha-modal-tabela">
                <div class="ficha-modal-tabela-linha">
                    <div class="ficha-modal-tabela-cel">
                        <strong>atributo</strong>
                    </div>

                    <div class="ficha-modal-tabela-cel">
                        <strong>graduação</strong>
                    </div>

                    <div class="ficha-modal-tabela-cel">
                        <strong>bônus</strong>
                    </div>
                </div>

                <div class="ficha-modal-tabela-linha">

                    <div class="ficha-modal-tabela-cel">
                        <select name="data.atributo">
                            <option value="forca" {{#if (eq data.atributo "forca")}}selected{{/if}}>força</option>
                            <option value="reflexos" {{#if (eq data.atributo "reflexos")}}selected{{/if}}>reflexos</option>
                            <option value="inteligencia" {{#if (eq data.atributo "inteligencia")}}selected{{/if}}>inteligência</option>
                            <option value="empatia" {{#if (eq data.atributo "empatia")}}selected{{/if}}>empatia</option>
                        </select>
                    </div>
                   

                    <div class="ficha-modal-tabela-cel">
                        <input class="ficha-atributo-numero" type="text" name="data.graduacao" value="{{data.graduacao}}">
                    </div>

                    <div class="ficha-modal-tabela-cel">
                        <input type="text" class="ficha-atributo-numero" name="data.bonus" value="{{data.bonus}}">
                    </div>

                </div>
            </div>
            <br>
            {{editor content=data.descricao target="data.descricao" button=true owner=owner editable=editable}}

            <script>
                var periciaId{{item._id}} = 0;
                $('[itempericiaId="{{item._id}}"]').contextmenu(function() {
                    periciaId{{item._id}} +=1;

                    if(periciaId{{item._id}} > 5) {
                        $('[name="data.idN"]').attr("type", "text");
                    }
                });
            </script>
        </div>
    </form>
    
</div>
