<div class="ficha ficha-qualidade ficha-qualidef" itemqualidefId="{{item._id}}">
    <form class="{{cssClass}}" autocomplete="off">
        <header class="sheet-header ficha-qualidef-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="ficha-qualidef-custo-box">
                -<input type="text" name="data.custo" value="{{data.custo}}" class="ficha-qualidef-custo">
            </div>
        </header>
        <div>
            <br>
            <input type="hidden" name="data.idN" value="{{data.idN}}" style="border: 1px solid #111;">
            <input type="hidden" name="data.explicacao" value="{{data.explicacao}}" style="border: 1px solid #111;">

            <div class="ficha-qualidef-selects ficha-qualidef-selects-{{item._id}}" style="display: none;">
                <select name="data.unico">
                    <option value="nao" {{#if (eq data.unico "nao")}}selected{{/if}}>Não Único</option>
                    <option value="sim" {{#if (eq data.unico "sim")}}selected{{/if}}>Único</option>
                </select>

                <select name="data.cumulativo">
                    <option value="nao" {{#if (eq data.cumulativo "nao")}}selected{{/if}}>Não cumulativo</option>
                    <option value="sim" {{#if (eq data.cumulativo "sim")}}selected{{/if}}>Cumulativo</option>
                </select>
            </div>

            
            <br>
            {{editor content=data.descricao target="data.descricao" button=true owner=owner editable=editable}}
            <br>
            <div class="ficha-qualidef-selects ficha-qualidef-selects-{{item._id}}" style="display: block;">
                {{#if (eq data.unico "nao")}}Não Único{{/if}}
                {{#if (eq data.unico "sim")}}Único{{/if}} | 

                {{#if (eq data.cumulativo "nao")}}Não cumulativo{{/if}}
                {{#if (eq data.cumulativo "sim")}}Cumulativo{{/if}} 
            </div>


            <script>
                var qualdefId{{item._id}} = 0;
                $('[itemqualidefId="{{item._id}}"]').contextmenu(function() {
                    qualdefId{{item._id}} +=1;

                    if(qualdefId{{item._id}} > 5) {
                        $('[name="data.idN"],[name="data.explicacao"]').attr("type", "text");
                        $('.ficha-qualidef-selects-{{item._id}}').toggle();
                    }
                });
            </script>
        </div>
    </form>
    
</div>
